@import url(./styles.css);

@media (max-width: 1024px){
  .main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 648px;
    gap: var(--gap-12);
    padding: var(--padding-mobile);
  }

  .content-project {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    background-color: #0f1419;
    padding: 20px;
    border-radius: var(--border-radius-mobile);
  }

  .container-photo {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: var(--gap-12);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(247, 247, 249, 0.05);
  }
}

@media (min-width: 1025px) {
  .main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 648px;
    margin: auto;
    gap: var(--gap-12);
  }

  .content-project {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    background-color: #0f1419;
    padding: 40px;
    border-radius: var(--border-radius-web);
  }



  .container-photo {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    gap: var(--gap-12);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    background: rgba(247, 247, 249, 0.05);
  }
}
