/* Import fonts with a fallback font */
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url(./reset.css);

/* Скрыть русский текст по умолчанию */
[lang="uk"] {
  display: none;
}

/* Класс .ru будет добавлен к тегу <html> или <body>, когда пользователь выберет русский язык */
.uk [lang="en"] {
  display: none;
}
.uk [lang="uk"] {
  display: block;
}

/* Variables */
:root {
  /* Colors */
  --color-icon: #e6e6e9;

  /* Fonts */
  --font-default: Onest, sans-serif;

  /* Font sizes and styles */
  --p-text-size: 14px;
  --p-line-height: 24px;
  --p-font-weight: 400;
  --h1-size: 20px;
  --h1-line-height: 32px;
  --h1-font-weight: 600;

  /* Padding and spacing */
  --padding: 20px;
  --border-radius-web: 24px;
  --border-radius-mobile: 12px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-24: 24px;
}

/* Themes */
.light-theme {
  --bg-color: #f5f6fa;
  --text-color: #0d0c22;
  --text-color-secondary: #8f8f8f;
  --bg-card: #ffffff;
  --bg-badge: #ccc;
  --color-primary: #333;
  --bg-btn-color: #f5f3f0;
  --text-color-white: #fff;
  --bg-btn-color-secondary: #fff;
  --border-color-badge: #e6e6e9;
  --btn-text-color: #0f1419;
  --text-badge-available: #4daa57;
  --bg-badge-available: #4daa57;
}

.dark-theme {
  --bg-color: #050505;
  --text-color: #ece9e4;
  --text-color-secondary: #999999;
  --bg-card: #0f1419;
  --color-primary: #fff;
  --text-color-white: #0d0c22;
  --bg-btn-color: rgba(255, 255, 255, 0.05);
  --border-color-badge: #3a3e43;
  --btn-text-color: #fff;
  --text-badge-available: #4daa57;
  --bg-badge-available: rgba(26, 153, 142, 0.1);
}

.lang-theme-nav {
  display: flex;
  background-color: var(--bg-card);
  padding: var(--padding);
  border-radius: var(--border-radius-web);
  justify-content: space-between;
}

#languageSelect {
  padding: 6px 12px;
  border-radius: var(--border-radius-web);
  background: var(--bg-btn-color);
  cursor: pointer;
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  appearance: none;
  background-position-x: 95%;
  font-size: 14px;
  line-height: 24px;
}

/* Стилизация для фокуса на элементе */
#languageSelect:focus {
  outline: none;
  border-color: #555;
}

/* Base Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
}

/* Styles for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
  border: 1px solid rgb(15, 20, 25, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

/* Styles for light and dark icons */
.material-icons {
  font-size: 24px;
  color: var(--color-icon);
}

.light-icon {
  opacity: 1;
  transition: opacity 0.4s;
}

.dark-icon {
  opacity: 0;
  transition: opacity 0.4s;
}

input:checked + .slider {
  background-color: rgb(255, 255, 255, 0.1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider .light-icon {
  opacity: 0;
}

input:checked + .slider .dark-icon {
  opacity: 1;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
  background-color: var(--bg-card);
  padding: var(--padding);
  border-radius: var(--border-radius-web);
}

/* Title styles */
.title {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--text-opacity);
}

.title .animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: var(--title-size);
  line-height: var(--title-line);
}

.title .animated.active {
  opacity: var(--title-opacity);
  transform: translateY(0);
}

/* Heading styles */
h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
}

/* Paragraph styles */
p {
  font-size: var(--p-text-size);
  line-height: var(--p-line-height);
  font-weight: var(--p-font-weight);
  color: var(--text-color-secondary);
}

/* Badge styles */
.badge-available {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  color: var(--text-badge-available);
  font-size: var(--p-text-size);
  line-height: var(--p-line-height);
  font-weight: var(--h1-font-weight);
}

/* Pulse animation styles */
.pulse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-badge-available);
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.badge {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: var(--gap-12);
  border-radius: var(--border-radius-web);
  border: 2px solid var(--border-color-badge);
  width: fit-content;
}

.approach-article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
}

.box-btn {
  display: flex;
}

.section-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-card);
  border-radius: var(--border-radius-web);
  padding: 12px;
}

.section-nav-right {
  display: flex;
  gap: var(--gap-12);
  align-items: center;
  align-content: center;
  align-self: center;
}

/* Style for primary buttons */
.primary-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--bg-btn-color);
  text-decoration: none;
  border-radius: 24px;
  width: fit-content;
  color: var(--btn-text-color);
}

.button-secondary {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--bg-btn-color);
  text-decoration: none;
  border-radius: 24px;
  width: fit-content;
  color: var(--btn-text-color);
}

.projects-card section {
  display: flex;
  gap: 8px;
  align-items: center;
}
.projects-card section span {
  display: flex;
  padding: 3px;
  justify-content: center;
  font-size: 10px;
  color: var(--text-color);
  line-height: 10px;
  font-weight: 600;
  color: var(--text-color-white);
  align-items: center;
  border-radius: 3px;
  height: fit-content;
  background: var(--bg-badge);
}

/* Media Queries for small screens */
@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: var(--gap-12);
    padding: var(--padding);
  }

  .main-404 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 348px;
    background-color: var(--bg-card);
    padding: var(--padding);
    border-radius: var(--border-radius-web);
    gap: var(--gap-24);
  }

  .left-box {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    background-color: var(--background-dark);
    width: 100%;
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: var(--gap-12);
    justify-content: space-between;
  }
  .avatar div {
    display: flex;
    gap: var(--gap-8);
    justify-content: space-between;
  }

  .avatar-icon {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-web);
  }

  .right-box {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
  }

  .projects-grid {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: var(--gap-12);
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-card);
    padding: var(--padding);
    max-width: 300px;
    gap: var(--gap-12);
    border-radius: var(--border-radius-mobile);
  }
  .projects-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .approach,
  .shots,
  .skills,
  .contact {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: var(--bg-card);
    padding: var(--padding);
    gap: var(--gap-12);
    border-radius: var(--border-radius-mobile);
  }

  .contact-social {
    display: flex;
    gap: var(--gap-12);
  }

  .skills-badges {
    display: flex;
    min-width: 288px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--gap-12);
    flex: 1 0 0;
    flex-wrap: wrap;
  }
  .main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 648px;
    gap: var(--gap-12);
    padding: var(--padding);
  }

  .content-project {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    background-color: var(--bg-card);
    padding: var(--padding);
    border-radius: var(--border-radius-mobile);
  }

  .container-photo {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-12);
  }

  .container-photo-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
  .tabs {
    display: flex;
    gap: 4px;
    background-color: #e5e7eb;
    padding: 4px;
    border-radius: 24px;
    width: fit-content;
  }

  .tablinks {
    padding: 8px 12px;
    border-radius: 24px;
  }

  .tablinks.active {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(20, 21, 26, 0.1), 0px 1px 2px 0px rgba 20,
      21, 26, 0.06, rgba 255, 255, 255, 1;
  }

  .tabcontent {
    display: none;
  }

  .tabcontent.active {
    display: block;
  }
}

/* Media Queries for larger screens */
@media (min-width: 1025px) {
  .shot {
    display: inline-block;
  }

  .shot img {
    width: 300px; /* Регулируйте размеры под свои нужды */
    height: auto;
  }

  .shot-info {
    margin-top: 10px;
    font-size: 0.9em;
  }

  .shot-info span {
    margin-right: 5px;
    padding: 2px 5px;
    background: #f1f1f1;
    border-radius: 4px;
  }

  .clickable-image {
    cursor: pointer;
  }

  .main {
    display: flex;
    max-width: 1068px;
    margin: auto;
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .main-404 {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 348px;
    background-color: var(--bg-card);
    padding: var(--padding);
    border-radius: var(--border-radius-web);
    gap: var(--gap-24);
  }

  .left-box {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 852px;
    position: sticky;
    top: 24px;
    max-width: 408px;
    gap: var(--gap-12);
  }

  .avatar {
    display: flex;
    justify-content: space-between;
  }

  .avatar div {
    display: flex;
    gap: var(--gap-8);
  }

  .avatar-icon {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-web);
  }

  .tabs {
    display: flex;
    gap: 4px;
    background-color: #e5e7eb;
    padding: 4px;
    border-radius: 24px;
    width: fit-content;
  }

  .tablinks {
    padding: 8px 12px;
    border-radius: 24px;
  }

  .tablinks.active {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(20, 21, 26, 0.1),
      0px 1px 2px 0px rgba(20, 21, 26, 0.06) rgba(255, 255, 255, 1);
  }

  .tabcontent {
    display: none;
  }

  .tabcontent.active {
    display: block;
  }

  .right-box {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    box-sizing: border-box;
    width: 60.7%;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-12);
    max-width: 648px;
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    background-color: var(--bg-card);
    padding: var(--padding);
    width: 318px;

    border-radius: var(--border-radius-web);
  }

  .projects-card p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .projects-card:hover {
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
    opacity: 1;
  }

  .projects:hover .projects-card:not(:hover) {
    transform: scale(0.9);
    opacity: 0.5;
  }

  .approach,
  .shots,
  .skills,
  .contact {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    background: var(--bg-card);
    flex-wrap: wrap;
    gap: var(--gap-12);
    width: 100%;
    max-width: 708px;
    min-width: 288px;
    border-radius: var(--border-radius-web);
  }

  .skills-badges {
    display: flex;
    min-width: 288px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--gap-12);
    flex: 1 0 0;
    flex-wrap: wrap;
  }

  .contact-social {
    display: flex;
    gap: var(--gap-12);
  }
  .main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 708px;
    margin: auto;
    gap: var(--gap-12);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }

  .content-project {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    background-color: var(--bg-card);
    padding: var(--padding);
    border-radius: var(--border-radius-web);
  }

  .container-photo {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-12);
  }

  .container-photo-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .blog-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid #E5E7EB;
  }


  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    
  }

  .card {
    max-width: 293px;
  }

  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 12px;
  }
}
