/* Import fonts with a fallback font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");
@import url(./reset.css);

/* Variables */
:root {
  /* Colors */
  --bg-color: #000;
  --text-color: #fff;
  --text-color-secondary: #666d80;
  --bg-card: #0f1419;
  --btn-text-color: #0f1419;
  --border-color-badge: #e6e6e9;
  --background-badge-light: #your-background-badge-light-color; /* Define this color */
  --text-badge: #your-text-badge-color; /* Define this color */
  --bg-btn-color: #f7f7f9;

  /* Fonts */
  --font-default: Urbanist, sans-serif;

  /* Breakpoints */
  --bp-small: 768px;
  --bp-large: 1024px;

  /* Font sizes and styles */
  --p-text-size: 14px;
  --p-line-height: 20px;
  --p-font-weight: 400;
  --h1-size: 24px;
  --h1-line-height: 32px;
  --h1-font-weight: 600;

  /* Padding and spacing */
  --padding-web: 40px;
  --padding-mobile: 20px;
  --border-radius-web: 24px;
  --border-radius-mobile: 12px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-24: 24px;
}

/* Themes */
.light-theme {
  --bg-color: #f5f5f7;
  --text-color: #0f1419;
  --text-color-secondary: #666d80;
  --bg-card: #ffffff;
  --color-primary: #333;
  --bg-btn-color: #f7f7f9;
  --border-color-badge: #e6e6e9;
  --btn-text-color: #0f1419;
}

.dark-theme {
  --bg-color: #000000;
  --text-color: #fff;
  --text-color-secondary: #f5f5f7;
  --bg-card: #0f1419;
  --color-primary: #fff;
  --bg-btn-color: #262b2f;
  --border-color-badge: #3a3e43;
  --btn-text-color: #fff;
}

/* Base Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
}

/* Title styles */
.title {
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
  color: var(--text-color);
}

.title .animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: var(--title-size);
}

.title .animated.active {
  opacity: 1;
  transform: translateY(0);
}

/* Heading styles */
h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  font-weight: var(--h1-font-weight);
}

/* Paragraph styles */
p {
  font-size: var(--p-text-size);
  line-height: var(--p-line-height);
  font-weight: var(--p-font-weight);
  color: var(--text-color-secondary);
}

/* Badge styles */
.badge-available {
  display: flex;
  align-items: center;
  gap: var(--gap-8);
  padding: 6px 12px;
  border-radius: 16px;
  background: var(--background-badge-light);
  color: var(--text-badge);
  font-size: var(--p-text-size);
  line-height: var(--p-line-height);
  font-weight: var(--h1-font-weight);
}

/* Pulse animation styles */
.pulse {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1a998e;
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.badge {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: var(--gap-12);
  border-radius: var(--border-radius-web);
  border: 1px solid var(--border-color-badge);
  width: fit-content;
}

.approach-article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
}

.box-btn {
  display: flex;
}

/* Style for primary buttons */
.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--bg-btn-color);
  text-decoration: none;
  border-radius: 24px;
  width: fit-content;
  color: var(--btn-text-color);
}

/* Media Queries for small screens */
@media (max-width: 1024px) {
  .main {
    max-width: 100%;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    background-color: var(--background-dark);
    width: 100%;
    padding: var(--padding-mobile);
    border-radius: var(--border-radius-mobile);
    background-color: var(--bg-card);
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: var(--gap-12);
  }

  .avatar-icon {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-mobile);
  }

  .right-box {
    display: flex;
    gap: var(--gap-12);
    flex-direction: column;
  }

  .projects-box {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: var(--gap-8);
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    background-color: var(--bg-card);
    padding: var(--padding-mobile);
    min-width: 288px;
  }

  .approach,
  .skills,
  .contact {
    max-width: 100%;
    background: var(--bg-card);
    padding: var(--padding-mobile);
    gap: var(--gap-24);
  }

  .skills-badges {
    display: flex;
    min-width: 288px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--gap-12);
    flex: 1 0 0;
    flex-wrap: wrap;
  }
}

/* Media Queries for larger screens */
@media (min-width: 1025px) {
  .main {
    display: flex;
    justify-content: center;
    max-width: 1068px;
    margin: auto;
    gap: 12px;
    padding-top: 24px;
  }

  /* Styles for the toggle switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 24px;
    border: 1px solid rgb(15, 20, 25, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
  }

  /* Styles for light and dark icons */
  .material-icons {
    font-size: 24px;
  }

  .light-icon {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .dark-icon {
    opacity: 0;
    transition: opacity 0.4s;
  }

  input:checked + .slider {
    background-color: rgb(255, 255, 255, 0.1);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:checked + .slider .light-icon {
    opacity: 0;
  }

  input:checked + .slider .dark-icon {
    opacity: 1;
  }

  .left-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    max-width: 408px;
    padding: var(--padding-web);
    background-color: var(--bg-card);
  }

  .avatar {
    align-items: center;
    display: flex;
    gap: var(--gap-12);
  }

  .avatar-icon {
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-web);
  }

  .right-box {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-12);
    width: calc(100% - 408px);
    overflow-y: auto;
  }

  .projects-box {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-8);
  }

  .projects-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);
    background-color: var(--bg-card);
    padding: var(--padding-web);
    max-width: 320px;
    min-width: 288px;
    transition: transform 0.3s, opacity 0.3s;
  }

  .projects-card:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  .projects-box:hover .projects-card:not(:hover) {
    transform: scale(0.9);
    opacity: 0.5;
  }

  .approach,
  .skills,
  .contact {
    display: flex;
    flex-direction: column;
    padding: var(--padding-web);
    background: var(--bg-card);
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    gap: var(--gap-24);
    width: 100%;
    max-width: 648px;
    min-width: 288px;
  }

  .skills-badges {
    display: flex;
    min-width: 288px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--gap-12);
    flex: 1 0 0;
    flex-wrap: wrap;
  }

  .contact-social {
    display: flex;
    gap: var(--gap-12);
  }
}
